<div class="container">
  <div [animateInAnimation]="FadeAnimationUtil.fadeRight()" animateIn class="heading">CONTACTS</div>
  <div class="card-wrapper centre-xy">
    <mat-card class="mat-card" style="background-color: transparent">
      <div class="card-content">
        <p class="text">SAY HELLO</p>
        <p class="contact-text">Let's do great things together.</p>
      </div>
      <div class="card-content">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" style="margin-left: 1rem;">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="card-content">
        <mat-form-field appearance="fill">
          <mat-label>Leave a message</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
      <button class="button-lg" color="primary" mat-stroked-button>Send Message</button>
    </mat-card>
  </div>
</div>



