mat-toolbar {
  position: fixed;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #787878;
}

a:hover {
  color: #e31b6d;
  cursor: pointer;
}

.active {
  color: #e31b6d !important;
}
