.root {
  min-height: 90vh !important;
  left: 0;
  right: 0;
}

.child {
  position: relative;
  text-align: center;
  min-height: 100%;
}

.menu, .more-info {
  display: flex;
  flex-direction: row;
}

.toggle-menu {
  margin-top: 1.2rem;
}

.text {
  font-size: 2.5rem;
}

.highlight {
  color: #e31b6d;
}

.button-lg {
  width: 14rem;
  height: 3rem;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.btn:hover {
  background-color: #00a1a7;
  border: 1px solid #00a1a7;
}
@media only screen and (min-width: 401px) {

  .menu {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 400px) {

  .menu, .more-info {
    flex-direction: column;
  }

  button {
    margin-bottom: 10px;
  }
}
