<div class="container">
  <div [animateInAnimation]="FadeAnimationUtil.fadeRight()" animateIn class="heading">SKILLS
  </div>
  <ng-container *ngFor="let item of barChartSections">
    <div [animateInAnimation]="FadeAnimationUtil.fadeRight()" animateIn class="sub-heading">{{item.section}}</div>
    <div class="bar-chart-wrapper" *ngFor="let barChart of item.charts;let i = index;">
      <div *ngIf="i % 2 !== 0" [animateInAnimation]="FadeAnimationUtil.fadeRight()" animateIn>
        <ng-container *ngTemplateOutlet="barChartTemplate; context: {barChart: barChart}"></ng-container>
      </div>
      <div *ngIf="i % 2 === 0" [animateInAnimation]="FadeAnimationUtil.fadeLeft()" animateIn>
        <ng-container *ngTemplateOutlet="barChartTemplate; context: {barChart: barChart}"></ng-container>
      </div>
    </div>
  </ng-container>
</div>

<ng-template let-barChart="barChart" #barChartTemplate>
  <p class="bar-label" [ngStyle]="{'color' : barChart.barColor}">{{barChart.name}}</p>
  <app-bar-chart [data]="barChart.data"
                 [barTooltipText]="barChart.tooltipText"
                 [useResizeObserver]="false"
                 [isTopLeftRounded]="true"
                 [isTopRightRounded]="true"
                 [isBottomLeftRounded]="true"
                 [isBottomRightRounded]="true"
                 [borderRadius]="3"
                 [domain]="[0, 100]"
                 [barHeight]="8"
                 [barColor]="barChart.barColor"
                 [hasBackgroundBar]="true"
                 [backgroundBarColor]="'#424242'">
  </app-bar-chart>
</ng-template>
