@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

body {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #020203;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

.centre-xy {
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}

mat-icon {
  margin-left: 2px;
  margin-right: 2px;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}
