$white: #F5FFFAFF;
$black: rgba(97, 97, 97, 0.5);

.d3-tip {
  background-color: $black;
  box-shadow: 2px 2px 20px 2px rgba($black, .2);
  cursor: pointer;
  font-size: 0.8rem;
  padding: 5px 12px;
  pointer-events: none !important;
  z-index: 3;
  color: $white;
  opacity: 0.8;

  &::after {
    @extend %tooltip-position;
    border-color: $black transparent transparent transparent;
    border-style: solid;
    border-width: 0.5rem;
    pointer-events: none;

  }

  &.n::after {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
  }

  &.s::after {
    border-color: transparent transparent $black;
    left: 50%;
    top: -1rem;
    transform: translateX(-50%);
  }

  &.e::after {
    border-color: transparent $black transparent transparent;
    left: -1rem;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  &.w::after {
    border-color: transparent transparent transparent $black;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &.ne::after {
    border-color: $black transparent transparent $black;
    left: 0;
    top: 100%;

  }

  &.nw::after {
    border-color: $black $black transparent transparent;
    right: 0;
    top: 100%;

  }

  &.sw::after {
    border-color: transparent $black $black transparent;
    right: 0;
    top: -1rem;
  }

  &.se::after {
    border-color: transparent transparent $black $black;
    left: 0;
    top: -1rem;
  }

  &.barchart-tip {
    white-space: nowrap;
  }
}

%tooltip-position {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
